#container {
    position: relative;
    width: 700px; /* Adjust to fit the size of the background image */
    height: 700px;
    margin: auto;
}
#pr{
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}
#background-image {
    width: 700px;
    height: 700px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    margin-top: 20px;
}

/* Position the traffic lights absolutely */
.traffic-light {
    width: 30px;
    height: 90px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2; /* Ensure lights are above the image */
}

/* Adjust positions to fit over green rectangles */
#a1 {
    top: 170px;  /* Adjust this to match the first green rectangle */
    left: 240px;
}

#a2 {
    top: 170px;
    right: 220px;
}

#a3 {
    bottom: 170px;
    left: 230px;
}

#a4 {
    bottom: 170px;
    right: 210px;
}

/* Light circle styles */
.traffic-light .light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
}

.traffic-light .red-light {
    background-color: red;
}

.traffic-light .yellow-light {
    background-color: yellow;
}

.traffic-light .green-light {
    background-color: green;
}
